@import url('https://fonts.googleapis.com/css?family=Khand');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(236, 236, 236);
    background: linear-gradient( to right, #22324a, #351f43);
    background-size: cover;
    font-family: "Khand";
    text-align: center;
    margin-top: 0px;
    text-shadow: 5px 5px 5px rgba(19, 19, 19, 0.493);
    animation: all .15s ease-in-out;
}

body,
.books-list::before {
    background: linear-gradient( to right, #22324a, #351f43);
}

h1 {
    font-size: 12vw;
    font-family: 'Khand', sans-serif;
    font-weight: lighter;
    margin: 0px;
    margin-top: 2vh;
}

*:focus {
    outline: 0 !important;
}

*:active {
    outline: 0 !important;
}

* {
    outline: 0 !important;
}

input {
    background: #1c1b24;
    border: 1px solid #363636;
    border-radius: 7px;
    color: #efeded;
    padding: 3px;
    padding-left: 3px;
    padding-left: 7px;
}

input[type="number"] {
    width: 4em;
    margin-right: 1em;
}

.number-section {
    width: 14em;
}

.book-completed {
    color: rgb(138, 218, 255);
}

.books-list {
    box-shadow: 3px 2px 7px -1px #131313;
    background: rgba(135, 135, 135, 0.1);
    width: 87vw;
    margin: 0 auto;
    padding: 1em;
    border-radius: .5em;
    position: relative;
    overflow: hidden;
    font-family: 'Ubuntu Mono', monospace;
}

.books-list::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(20px);
    -webkit-filter: blur(20px);
    z-index: -1;
    margin: -90px;
}

.book-name-col {
    width: 100%;
    text-align: left;
}

.books-table {
    margin: 0 auto;
}

.book-progression-col {
    text-align: right;
}

.book-entry {
    height: 4.6em;
    padding: 0.7em;
    text-align: left;
}

.book-name {
    text-decoration: none;
    color: white;
    outline: 0;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

/* home specific */

/* responsive mobile */

.home-container {
    position: absolute;
    margin-top: 7vh;
    text-align: center;
    width: 100%;
    left: 0%;
}

.home-container>tr {
    height: 52px;
}

table {
    width: 100%;
    margin: 0 auto;
}

.fullName {
    cursor: default;
    font-size: 10.9vw;
}

.pro-title {
    cursor: default;
    margin-top: 6px;
    font-size: 4vw;
}

.gradient-container {
    height: 92px;
}

.gradient-line {
    max-width: 4000px;
    margin: 0 auto;
    height: 3px;
    text-align: middle;
    background: linear-gradient( to right, #9900ff, #00cc9e);
    border-radius: 1700px;
    box-shadow: 0px 0px 6px #3d5067;
}

.pro-email {
    display: inline-block;
    text-decoration: none;
    font-family: "Ubuntu Mono";
    height: 50px;
    font-size: 4vw;
    color: #999999;
    transition: all .15s ease-in-out;
    text-shadow: 5px 5px 5px rgba(19, 19, 19, 0.493);
}

.pro-email:link {
    color: #999999;
    text-decoration: none;
}

.pro-email:visited {
    color: #999999;
    text-decoration: none;
}

.pro-email:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    text-decoration: none;
    color: #cccccc;
}

.icone {
    color: #999999;
    font-size: 40px !important;
    margin: 28px;
    outline: 0;
    transition: all .15s ease-in-out;
    text-shadow: 5px 5px 5px rgba(19, 19, 19, 0.493);
}

.icons {
    vertical-align: bottom;
    height: 13vh;
}

.icone:link {
    color: #999999;
    text-decoration: none;
}

.icone:active {
    color: #999999;
    text-decoration: none;
}

.icone:visited {
    color: #999999;
    text-decoration: none;
}

.icone:hover {
    text-decoration: none;
    margin-bottom: 0px !important;
    transform: scale(1.35);
    -webkit-transform: scale(1.35);
    -moz-transform: scale(1.35);
    -ms-transform: scale(1.35);
}

.iconeGithub:hover {
    color: #782CEA !important;
}

.iconeLinkedin:hover {
    color: #496ACC !important;
}

.iconeBook:hover {
    color: #21A1B3 !important;
}

@media screen and (min-width: 520px) {
    .fullName {
        font-size: 63px;
    }
    h1 {
        font-size: 8vw;
        margin-top: 2vh;
    }
    .pro-title {
        margin-top: 6px;
        font-size: 21px;
    }
    .pro-email {
        text-decoration: none;
        font-family: "Ubuntu Mono";
        height: 50px;
        font-size: 17px;
        color: #999999;
    }
    .pro-email:link {
        color: #999999;
        text-decoration: none;
    }
    .pro-email:visited {
        color: #999999;
        text-decoration: none;
    }
    .pro-email:hover {
        color: #cccccc;
        text-decoration: none;
    }
    .home-container {
        position: absolute;
        margin-top: 8vh;
        text-align: center;
        width: 100%;
    }
    .gradient-line {
        max-width: 600px;
        margin: 0 auto;
        height: 3px;
        text-align: middle;
        background: linear-gradient( to right, #9900ff, #00cc9e);
        border-radius: 1700px;
        box-shadow: 0px 0px 6px #3d5067;
    }
    .links {
        height: 75px;
    }
    .icone {
        color: #999999;
        font-size: 40px !important;
        margin: 28px;
    }
    .icons {
        vertical-align: bottom;
        height: 2em;
    }
    .icone:link {
        color: #999999;
        text-decoration: none;
    }
    .icone:active {
        color: #999999;
        text-decoration: none;
    }
    .icone:visited {
        color: #999999;
        text-decoration: none;
    }
    .icone:hover {
        text-decoration: none;
        margin-bottom: 0px !important;
        -webkit-transform: scale(1.35);
        -moz-transform: scale(1.35);
        -ms-transform: scale(1.35);
    }
    .icone1:hover {
        color: #9900ff;
    }
    .icone2:hover {
        color: #1BA7AF;
    }
    * {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .book-entry {
        height: 2em;
        padding: 0.7em;
        text-align: left;
    }
}

@media screen and (min-width: 900px) {
    h1 {
        font-size: calc(50px + 1vh);
        margin-top: 7vh;
    }
}